:root
    color #333333
    font-size 16px
    font-family 'microsoft yahei ui', 'source han sans'
    user-select none

*
    box-sizing border-box
    &::before
        box-sizing border-box
    &::after
        box-sizing border-box

input, textarea
    user-select auto

body
    margin 0px

table
    border-spacing 0px
    border-collapse separate

th
    padding 0px
    font-weight normal
    text-align start

td
    padding 0px

.text-selectable
    user-select text

.cursor-default
    cursor default
